<div class="container">
  <h1 class="h3 mb-3 font-weight-normal text-center">Add Record</h1>
  <div class="form-group">
    <input type="text" name="name" class="form-control" placeholder="Name"/>
  </div>
  <mat-form-field class="form-group">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="form-group">
    <input type="tel" name="phone" [textMask]="mask" class="form-control" ng2TelInput/>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="area" rows="12" name="text"></textarea>
  </div>
  <div class="uploadfilecontainer form-control" appDnd (onFileDropped)="uploadFile($event)">
    <input hidden type="file" (change)="uploadFile($event.target.files)">
  </div>
  <div class="files-list" *ngFor="let file of files;let i = index">
    <p> {{ file }} </p>
    <button class="delete-file" (click)="deleteAttachment(i)">
      <img src="../../assets/img/mono-tab-remove.svg" alt="Delete">
    </button>
  </div>
  <p class="text-right">
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</div>


